/* You can add global styles to this file, and also import other style files */

body {
    background-color: #0a0e21;
}

.btn-color {
    background-color: #f70052;
    border-color: #f70052;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover {
    background-color: #f70052;
    border-color: #f70052;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}