h2 {
    font-family: "Zen Dots", cursive;
    color: white;
    padding-top: 1rem;
    text-align: center;
}

.row {
    margin-top: 20px;
}

.fondoitem {
    background-color: #ff111328;
    height: 130px;
    border-radius: 20px;
    color: white;
}

.sex {
    font-size: 40px;
    margin: 1rem;
}

.Number {
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
    text-align: center;
}

.cm {
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}

.form-range {
    padding: 0px 20px;
}

input[type="range"]::-webkit-slider-thumb {
    background: #f70052;
}

.Plus {
    cursor: pointer;
    background-color: #5e040628;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

.sexoff {
    background-color: #7d2f2f33;
}